.SkillsSection {
  width: 90%;
  margin: 4rem auto 14.7rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.SkillsSection span {
  width: 8.5rem;
  height: 2.3rem;
  border-radius: 1.2rem;
  background-color: #040251;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SkillsSection span p {
  color: #fff;
  font-weight: 500;
}

.SkillsCards{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.Section-title {
  font-weight: 600;
}

.SkillsSection article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7rem;
  justify-content: center;
}

.Cards {
  width: 26rem;
  overflow: hidden;
  border-radius: 1.2rem;
  background-color: #030229;
  color: #fff;
}

.Cards header {
  width: 100%;
  height: 30px;
  gap: 0.7rem;
  padding: 5px 5px 5px 1rem;
}

.Cards header span {
  width: 17px;
  height: 17px;
  border-radius: 100%;
}

.Cards-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #0803f8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cards-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  gap: 7px;
}

.Cards h1 {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 600;
}

.Cards-icon {
  color: #000;
}

.Cards p {
  font-size: 1rem;
  margin: 1rem 0px 1.4rem 0px;
}
