#about {
  min-height: 100vh;
  height: 100%;
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 0px;
 }

.bloc1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;  
}

.bloc1-1 {
  min-width: 17rem;
  min-height: 17rem;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc1-1::before {
  content: "";
  background-image: conic-gradient(#0803f8 60deg, transparent 20deg);
  width: 110%;
  height: 100%;
  position: absolute;
  animation: rotate 6s linear infinite;
}

.bloc1-1::after {
  content: "";
  width: 97%;
  height: 97%;
  background-color: #101010;
  background-image: url("eu.png");
  background-size: cover;
  position: absolute;
  border-radius: 100%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.bloc1-2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 2rem;
  gap: 0.5rem;
}

.bloc1-2 span{
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #040251;
}

.bloc1-2 span p{
    color: #fff;
}

.bloc1-2 h1 {
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.bloc1-2 p {
  font-weight: 600;
  font-size: medium;
  color: #03a9a9 90%;
  text-align: start;
}

.bloc2 {
  width: 90%;
  display: flex;
  flex-direction: row;
  
}
 
.bloc2 section{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.forms{
  display: flex;
   justify-content: center;
  align-items: center;
  padding: 1rem 0px;
  
 }

.circle{
  margin: 0px;
  width:  3rem;
  height:  2.7rem;
  background-color: #040251;
  display: flex;
  justify-content: center;
  align-items: center;
}


.circle::after {
  content: "";
  width: 1.2rem;
  height: 1.2rem;
  background-color: #0b0a16;
  position: absolute;
  border-radius: 100%;
}

.retangle{
   width: 100%;
  height: 0.5rem;
  background-color: #040251;
}


.triangle {
  width: 0;
  /* height: 0.1rem; */
  border-color: transparent transparent transparent #040251;
  border-style: solid;
  border-width:  1rem;
  
}

.text{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text h4, p{
  text-align: start;
}

.year{
  width: 20rem;
  font-size: 1rem;
}


@media only screen and (max-width:1629px){

  #about {
    gap: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
   }

  .bloco1{
    margin-bottom: 0px;
    margin-top: 1rem;
   }
  .bloc2{
    flex-direction: column;
    padding: 4rem 3.5rem 3.5rem;
  }
  .bloc2 section{
    flex-direction: row;
    gap: 10px;
    min-height: 7.5rem ;
 
    /* padding: 0 3.5rem 3.5rem; */
  }
  .text p{
    width: 100%;
    margin-bottom: 1rem;

  }
  .forms{
    /* border: 1px solid #03a9a9; */
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
   }
  .circle{
    width:  2.7rem;
    height:  3rem;
  }
  .retangle{
    height: 65%;
    width:  0.5rem;
  }
  .triangle {
    border-bottom: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #040251;
  }

}


@media only screen and (max-width: 1116px) {

  .bloc1-2 {
    display: block;
  }
  .bloc1-2 p {
    margin-top: 5px;
  }

  .bloc1-2 h1 {
    margin-bottom: 10px;
    text-align: start;
  }

  .about {
    gap: 8rem;
  }
}

@media only screen and (max-width: 678px) {

  #about {
    gap: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
   }

  .bloco1{
    margin-bottom: 0px;
    margin-top: 1rem;
   }

   .bloc1-2 {
    margin: 0px;
    display: flex;
    justify-content: center;
   }
   .bloc1-2 span, h1{
    margin: 0 auto;
   }

  .bloc2{
    flex-direction: column;
    padding: 4rem 3.5rem 3.5rem;
  }
  .bloc2 section{
    flex-direction: row;
    gap: 10px;
    min-height: 7.5rem ;
 
    /* padding: 0 3.5rem 3.5rem; */
  }
  .text p{
    width: 100%;
    margin-bottom: 1rem;

  }
  .forms{
    /* border: 1px solid #03a9a9; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
   }
  .circle{
    width:  2.7rem;
    height:  3rem;
  }
  .retangle{
    height: 80%;
    width:  0.5rem;
  }


}

 