body::-webkit-scrollbar {
    width: 12px;               
}

body::-webkit-scrollbar-track {
    background: #0B0A16;        
}

body::-webkit-scrollbar-thumb {
    background-color: #0803F8;    
    border-radius: 20px;       
    border-radius: 100px ;  
}
